@media screen and (max-width: 768px) {
  #nav {
    .nav-list {
      display: none;
    }
  }
}
@media screen and (min-width: 769px) {
  #nav {
    .nav-list {
      display: flex;
    }
    .nav-mobile {
      display: none;
    }
  }
}